* {
    font-family: 'Oswald', serif !important;
}

body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Animation des cercles */
.pl__ring {
    animation: dash 1.5s ease-in-out infinite;

}

.pl__ring--a {
    animation-delay: -0.4s;
    stroke: #ffdd00;
}

.pl__ring--b {
    animation-delay: -0.3s;
    stroke: #255ff4;
}

.pl__ring--c {
    animation-delay: -0.2s;
    stroke: #2cf425;
}

.pl__ring--d {
    animation-delay: -0.1s;
    stroke: #f42f25;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1 660;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 330 330;
        stroke-dashoffset: -165;
    }

    100% {
        stroke-dasharray: 1 660;
        stroke-dashoffset: -660;
    }
}

#content {
    display: none;
}

.Accueil a {
    display: flex;
    font-size: 2em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    border: 50px;

}


.sidenav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: black;
    padding-top: 40px;
    transition: right 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    right: 0;
}


#openBtn {
    position: fixed;
    z-index: 1;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

/* Sous-menu */
.sous-menu {
    display: none;
    position: absolute;
    top: 0;
    left: -200px;
    background-color: #444;
    width: 200px;
    padding-left: 0;
    z-index: 1;
}

.sous-menu li a {
    padding: 10px;
    color: white;
}

.sous-menu li a:hover {
    background-color: #575757;
}

.sidenav li {
    position: relative;
}

.sidenav li:hover>.sous-menu {
    display: block;
    opacity: 1;
}




h1 {
    text-align: center;
    margin: 40px 0 40px 0;
    font-family: "Domine";
    font-weight: 400;
    font-size: 3.5em;
}



* {
    margin: 0;
}

/*background video menu*/
.background {
    position: relative;
    height: 85vh;
    width: 100%;
    overflow: hidden;



}

.background video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;

}

.background::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -99;
}


/*main projets*/

.projet {
    display: flex;
    justify-content: center;

}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 70%;


}

.voir-plus {
    display: block;
    margin: 25px auto 25px auto;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.block img {
    border-radius: 5px;
    width: 350px;
    height: 400px;
    object-fit: cover;

}

.block p {
    text-align: center;
    font-size: 1.5em;

}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin: 25px 0 25px 0px;


}

/* Projets en cours */
#Travaux a{
    text-decoration: none;
    color: #ffffff;
}

.Card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}


.C1 video {
    object-fit: cover;
    height: 300px;
    width: 250px;
    border-radius: 5px;
    border-right: 10px;
    cursor: pointer;
    border-radius: 5px;

}


.C2 video {
    object-fit: cover;
    height: 300px;
    width: 250px;
    border-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.C3 video {
    object-fit: cover;
    height: 300px;
    width: 250px;
    border-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.C4 video {
    object-fit: cover;
    height: 300px;
    width: 250px;
    cursor: pointer;
    border-radius: 5px;
}

.content-text {
    background-color: white;
    height: 150px;
    width: 250px;
    position: absolute;


}



#logiciel h3 {
    text-align: center;
    font-size: 2em;
    margin: 25px 0 25px 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.caroussel {

    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    margin-bottom: 35px;
    position: relative;
    height: 200px;
    margin: 30px 0 30px 0;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0))
}

@keyframes scrollLeft {


    to {
        left: -200px;
    }
}

.outil {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.outil1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.outil2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.outil3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.outil4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.outil5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}



.caroussel img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 6px;
    margin-right: 10px;
}

#coworking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}

.co-projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.co {
    width: 100%;
    height: 180px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.co img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.co img:hover {
    transform: scale(1.1);

}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;


}

.hobbies h2 {
    color: #ffffff;
}

.hobby {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobby img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hobby span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.hobby::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hobby:hover::after {
    opacity: 1;
}

.hobby:hover span {
    opacity: 1;
    z-index: 1;
}

.container-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;


}

.container a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
    width: 100%;
    height: 150px;
    text-decoration: none;

}

.container :hover {
    background-color: white;
    color: black;
}

footer {

    color: #ffffff;
    text-align: left;
    list-style-type: none;
}

.footer.sm {
    margin-left: 25px;
    border-top: solid, 1px, white;
    border-bottom: solid, 1px, white;
}