/*boutton acceuil*/
.Accueil a {
    display: flex;
    font-family: "Gwendolyn";
    font: weight 700px;
    font-size: 2em;
    margin-left: 20px;
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
    color: #010101;

}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #ffffff;
    padding-top: 60px;
    transition: right 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: flex;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    right: 0;
}

/* Close btn */
#openBtn {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}