<main class="project-page">
    <section class="project-hero">
        <h1 class="project-title">Gestion de Facture</h1>
        <p class="project-subtitle">Créez, gérez et suivez vos factures facilement</p>
        <img src="../../img/canoe.png"  alt="" width="400" height="300">
    </section>

    <section class="project-goals">
        <h2>Présentation du projet</h2>
        <p>
            Entreprise : Alison
            Secteur : Logiciels et services pour la gestion des cours d’eau et l’assainissement environnemental<br>
            Durée : 2 mois
            Poste : Développeur web / stagiaire en développement full stack
            <br><br>
            Description : Le projet Canoë vise à développer une plateforme web permettant aux clients de l’entreprise
            Alison de gérer et suivre les données relatives à l’assainissement et à la qualité des cours d’eau. En
            tant que développeur web, j’ai été chargé de concevoir et de mettre en place un back-office pour la gestion
            des informations clients et des projets environnementaux, ainsi qu’un espace client pour la consultation
            et la gestion des données collectées sur le terrain.
        </p>
    </section>

    <section class="project-details">
        <h2>Objectif</h2>
        <p>
            Développer un back-office et un espace client pour le site Canoë d'Alison, afin de faciliter la gestion
            des données de collecte et l’assainissement des cours d’eau.
        </p>
    </section>

    <section class="project-tech">
        <h2>Technologies utilisées</h2>
        <ul>
            <li><strong>PHP</strong> pour le développement back-end et la gestion des interactions avec la base de
                données</li>
            <li><strong>HTML / CSS / JavaScript</strong> pour la partie front-end et l’interface utilisateur</li>
            <li><strong>MySQL</strong> pour le stockage et la gestion des données clients et projets</li>
        </ul>

        <h3>Réponse au besoin</h3>
        <p>
            Pour répondre aux besoins d'Alison, j'ai conçu un back-office permettant :
        <ul>
            <li>la gestion des utilisateurs et des permissions,</li>
            <li>la consultation et l’édition des données de collecte,</li>
            <li>la génération de rapports et statistiques sur les interventions,</li>
            <li>l’optimisation de l’interface pour une utilisation facile et intuitive.</li>
        </ul>
        </p>
        <div class="tech-stack">
            <img src="../../img/php.png" alt="PHP">
            <img src="../../img/Js.png" alt="JavaScript">
            <img src="../../img/html.png" alt="HTML5">
            <img src="../../img/css.png" alt="CSS3">
            <img src="../../img/mysql.png" alt="MySQL">
        </div>
    </section>

    <section class="project-context">
        <h2>Contexte</h2>
        <p>
            L’entreprise Alison propose des solutions logicielles permettant de collecter, gérer et analyser des données
            liées à l’assainissement et à la qualité des cours d’eau. <br>
            Le site Canoë est une plateforme destinée à la fois aux clients et aux agents de terrain pour suivre et
            gérer ces données de manière efficace.

        </p>
    </section>

    <section class="project-links">
        <h2>Retrouvez le code sur GitHub</h2>
        <a href="https://github.com/WalkerKaizer/gestion-de-facture" target="_blank">
            <img src="../img/Github.png" alt="Lien GitHub du projet">
        </a>
        <p>Vous pouvez consulter le code source de ce projet sur GitHub.</p>
    </section>



</main>
<script src="../script/project.js"></script>