<main class="project-page">
    <section class="project-hero">
        <h1 class="project-title"></h1>
        <p class="project-subtitle">Rejoins l’aventure de Stewart dans un tombeau égyptien mystérieux</p>
        <video class="project-hero-media" width="640" height="360" controls>
            <source src="img/gallery vidéo/cursed.mp4" type="video/mp4">
            
        </video>
    </section>

    <section class="project-goals">
        <h2>Objectifs du projet</h2>
        <p>Découvrir les secrets du tombeau égyptien à travers des énigmes et des défis. Expérience immersive pour le joueur, combinant exploration et résolution de casse-têtes.</p>
    </section>

    <section class="project-media">
        <h2>Galerie</h2>
        <div class="media-grid">
            <img src="../../img/cursed.jpg" alt="Capture 1">
        </div>
    </section>

    <section class="project-links">
        <h2>Retrouvez le sur la plateforme</h2>
        <ul>
            <li><a href="https://ranaak.itch.io/cursed-adventures" target="_blank">itch.io</a></li>
        </ul>
    </section>

    <section class="project-development">
        <h2>Détails techniques</h2>
        <p>Développé avec [mettre moteur/logiciel utilisé]. Compatible avec [PC / Mac / autres plateformes].</p>
    </section>

    <section class="project-navigation">
        <a href="#">Previous Project</a>
        <a href="#">Next Project</a>
    </section>
</main>
<script src="../../script/project.js"></script>
