html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Oswald', serif !important;
}

body {
    background-color: #0F0F0F;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Loader */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pl__ring {
    animation: dash 1.5s ease-in-out infinite;

}

.pl__ring--a {
    animation-delay: -0.4s;
    stroke: #ffdd00;
}

.pl__ring--b {
    animation-delay: -0.3s;
    stroke: #255ff4;
}

.pl__ring--c {
    animation-delay: -0.2s;
    stroke: #2cf425;
}

.pl__ring--d {
    animation-delay: -0.1s;
    stroke: #f42f25;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1 660;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 330 330;
        stroke-dashoffset: -165;
    }

    100% {
        stroke-dasharray: 1 660;
        stroke-dashoffset: -660;
    }
}

/*header*/

header {
    padding: 15px 30px;
    margin-bottom: 10vh;
    margin-left: 20px;
    margin-right: 20px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#content {
    display: none;
}

.name-button {
    position: relative;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    overflow: hidden;
    color: #fcf9f9;
    display: flex;
    align-items: center;
    height: 40px;
}

.initials,
.fullname {
    display: inline-block;
    transition: opacity 0.3s ease;
    white-space: nowrap;

}

.fullname span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* animation*/
.fullname {
    position: relative;
    min-width: 120px;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* animation */
.name-button:hover .initials {
    opacity: 0;
}

.name-button:hover .fullname span {
    opacity: 1;
    transform: translateY(0);
}

.name-button:hover .fullname span:nth-child(1) {
    transition-delay: 0s;
}

.name-button:hover .fullname span:nth-child(2) {
    transition-delay: 0.05s;
}

.name-button:hover .fullname span:nth-child(3) {
    transition-delay: 0.1s;
}

.name-button:hover .fullname span:nth-child(4) {
    transition-delay: 0.15s;
}

.name-button:hover .fullname span:nth-child(5) {
    transition-delay: 0.2s;
}

.name-button:hover .fullname span:nth-child(6) {
    transition-delay: 0.25s;
}

.name-button:hover .fullname span:nth-child(7) {
    transition-delay: 0.3s;
}

.name-button:hover .fullname span:nth-child(8) {
    transition-delay: 0.35s;
}

.name-button:hover .fullname span:nth-child(9) {
    transition-delay: 0.4s;
}

.name-button:hover .fullname span:nth-child(10) {
    transition-delay: 0.45s;
}

.name-button:hover .fullname span:nth-child(11) {
    transition-delay: 0.5s;
}



.sidenav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: black;
    padding-top: 40px;
    transition: right 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    right: 0;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    height: 40px;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}


.burger-icon span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
}

.menu-text {
    font-size: 1.2em;
    color: white;
}


/* Sous-menu */
.sous-menu {
    display: none;
    position: absolute;
    top: 0;
    left: -200px;
    background-color: #444;
    width: 200px;
    padding-left: 0;
    z-index: 1;
}

.sous-menu li a {
    padding: 10px;
    color: white;
}

.sous-menu li a:hover {
    background-color: #575757;
}

.sidenav li {
    position: relative;
}

.sidenav li:hover>.sous-menu {
    display: block;
    opacity: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/*main*/

/*contenu*/

h1 {
    margin: 30px 0 30px 0;
    text-align: center;
}


.content-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    width: 70%;
    margin: 0 30px 0 30px auto;

}


.item {
    width: 400px;
    height: 300px;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 6px solid black;
    box-shadow: 8px 8px 0 0 black;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.item :hover {
    background-color: #0F0F0F;
    opacity: 70%;
    color: whitesmoke;
    text-align: center;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}





/*footer*/


.container :hover {
    background-color: white;
    color: black;
}


.container-end h2 {

    text-align: center;
    margin: 15px 0 15px 0;
}

.container a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
    width: 100%;
    height: 100px;
    text-decoration: none;

}

footer {

    color: #ffffff;
    text-align: left;
    list-style-type: none;
}

.footer.sm {
    margin-left: 25px;
    border-top: solid, 1px, white;
    border-bottom: solid, 1px, white;
}